In [1]:
import pandas as pd

In [2]:
import pandas as pd
json = "https://data.cdc.gov/resource/n8mc-b4w4.json?$limit=10000000"
df = pd.read_json(json)
df.head(10)

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,case_positive_specimen,underlying_conditions_yn
0,2022-01,CA,6,ORANGE,06059,0 - 17 years,Male,NA,NA,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,Yes,Missing,Missing,NaN,NaN
1,2021-08,SC,45,CHARLESTON,45019,18 to 49 years,Female,Missing,Missing,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN,NaN
2,2020-11,CT,9,FAIRFIELD,09001,0 - 17 years,Male,White,Unknown,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN,NaN
3,2022-01,CA,6,VENTURA,06111,18 to 49 years,Female,White,Non-Hispanic/Latino,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,Missing,Missing,Missing,NaN,NaN
4,2021-10,CO,8,JEFFERSON,08059,50 to 64 years,Female,White,Non-Hispanic/Latino,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN,NaN
5,2021-02,OH,39,SUMMIT,39153,50 to 64 years,Female,White,Non-Hispanic/Latino,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,Missing,Missing,Unknown,NaN,NaN
6,2022-01,CO,8,EL PASO,08041,0 - 17 years,Female,White,Hispanic/Latino,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,Missing,Missing,Missing,NaN,NaN
7,2022-01,LA,22,EAST BATON ROUGE,22033,0 - 17 years,Male,Black,Non-Hispanic/Latino,NaN,Missing,Missing,Probable Case,Unknown,Unknown,Unknown,Missing,0.0,NaN
8,2021-01,NY,36,SUFFOLK,36103,18 to 49 years,Male,White,Non-Hispanic/Latino,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,No,Missing,No,0.0,NaN
9,2022-07,LA,22,JEFFERSON,22051,65+ years,Male,White,Non-Hispanic/Latino,NaN,Missing,Missing,Laboratory-confirmed case,Unknown,Unknown,Unknown,Missing,0.0,NaN

In [3]:
df = df.drop(['state_fips_code', 'county_fips_code', 'ethnicity', 'process', 'exposure_yn', 'case_onset_interval', 'case_positive_specimen', 'exposure_yn', 'case_onset_interval', 'case_positive_specimen'], axis=1)
df.head(10)

,case_month,res_state,res_county,age_group,sex,race,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
0,2022-01,CA,ORANGE,0 - 17 years,Male,NA,Laboratory-confirmed case,Symptomatic,Yes,Missing,Missing,NaN
1,2021-08,SC,CHARLESTON,18 to 49 years,Female,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
2,2020-11,CT,FAIRFIELD,0 - 17 years,Male,White,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
3,2022-01,CA,VENTURA,18 to 49 years,Female,White,Laboratory-confirmed case,Symptomatic,Missing,Missing,Missing,NaN
4,2021-10,CO,JEFFERSON,50 to 64 years,Female,White,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
5,2021-02,OH,SUMMIT,50 to 64 years,Female,White,Laboratory-confirmed case,Symptomatic,Missing,Missing,Unknown,NaN
6,2022-01,CO,EL PASO,0 - 17 years,Female,White,Laboratory-confirmed case,Symptomatic,Missing,Missing,Missing,NaN
7,2022-01,LA,EAST BATON ROUGE,0 - 17 years,Male,Black,Probable Case,Unknown,Unknown,Unknown,Missing,NaN
8,2021-01,NY,SUFFOLK,18 to 49 years,Male,White,Laboratory-confirmed case,Symptomatic,No,Missing,No,NaN
9,2022-07,LA,JEFFERSON,65+ years,Male,White,Laboratory-confirmed case,Unknown,Unknown,Unknown,Missing,NaN

In [4]:
# NA's are populating in case_month with latest JSON query?
df = df[df['case_month'] != 'NA']
df["case_month"].unique()

array(['2022-01', '2021-08', '2020-11', '2021-10', '2021-02', '2021-01',
       '2022-07', '2021-12', '2020-12', '2022-11', '2022-04', '2020-09',
       '2023-02', '2021-05', '2022-02', '2022-06', '2021-11', '2021-03',
       '2023-03', '2020-04', '2022-05', '2022-03', '2022-08', '2020-08',
       '2020-06', '2021-09', '2021-06', '2020-10', '2022-12', '2022-09',
       '2021-04', '2022-10', '2021-07', '2020-03', '2020-05', '2020-07',
       '2023-01', '2020-01', '2020-02'], dtype=object)

In [5]:
df["case_month"] = pd.to_datetime(df["case_month"], format='%Y-%m')
df.dtypes

case_month                  datetime64[ns]
res_state                           object
res_county                          object
age_group                           object
sex                                 object
race                                object
current_status                      object
symptom_status                      object
hosp_yn                             object
icu_yn                              object
death_yn                            object
underlying_conditions_yn            object
dtype: object

In [6]:
len(df)

10000000

In [11]:
# What rows needed to be dropped through dropna()
print(f"Age Group column contains: {df['age_group'].unique()}")
print(f"Sex column contains: {df['sex'].unique()}")
print(f"Race column contains: {df['race'].unique()}")

Age Group column contains: ['18 to 49 years' '65+ years' '0 - 17 years' 'Missing' 'NA'
 '50 to 64 years']
Sex column contains: ['Female' 'NA' 'Male' 'Other' 'Unknown' 'Missing']
Race column contains: ['Asian' 'NA' 'Black' 'White' 'Unknown' 'American Indian/Alaska Native'
 'Missing' 'Native Hawaiian/Other Pacific Islander' 'Multiple/Other']

In [12]:
df.head(10)

,case_month,res_state,res_county,age_group,sex,race,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
0,2022-06-01,CA,LOS ANGELES,18 to 49 years,Female,Asian,Laboratory-confirmed case,Unknown,No,Missing,Missing,Yes
1,2020-12-01,TX,NA,65+ years,NA,NA,Laboratory-confirmed case,Symptomatic,Yes,Missing,Yes,NaN
2,2021-12-01,CA,LOS ANGELES,18 to 49 years,Female,Black,Laboratory-confirmed case,Unknown,No,Missing,Missing,NaN
3,2021-11-01,NE,NA,18 to 49 years,Female,White,Laboratory-confirmed case,Symptomatic,Missing,Missing,Missing,NaN
4,2020-09-01,TX,NA,0 - 17 years,Male,White,Laboratory-confirmed case,Symptomatic,No,Missing,Missing,NaN
5,2022-06-01,CA,LOS ANGELES,18 to 49 years,Female,Asian,Laboratory-confirmed case,Symptomatic,No,Missing,Missing,NaN
6,2021-12-01,CA,LOS ANGELES,18 to 49 years,Female,Black,Laboratory-confirmed case,Symptomatic,No,Missing,Missing,NaN
7,2021-11-01,NE,NA,18 to 49 years,Female,White,Laboratory-confirmed case,Symptomatic,Missing,Missing,Missing,NaN
8,2022-06-01,CA,LOS ANGELES,18 to 49 years,Female,Asian,Laboratory-confirmed case,Unknown,No,Missing,Missing,NaN
9,2020-12-01,TX,NA,65+ years,NA,NA,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN

In [13]:
age_df = df.copy()
age_df = age_df.drop(['sex', 'race'], axis=1)
age_df.head()

,case_month,res_state,res_county,age_group,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
0,2022-06-01,CA,LOS ANGELES,18 to 49 years,Laboratory-confirmed case,Unknown,No,Missing,Missing,Yes
1,2020-12-01,TX,NA,65+ years,Laboratory-confirmed case,Symptomatic,Yes,Missing,Yes,NaN
2,2021-12-01,CA,LOS ANGELES,18 to 49 years,Laboratory-confirmed case,Unknown,No,Missing,Missing,NaN
3,2021-11-01,NE,NA,18 to 49 years,Laboratory-confirmed case,Symptomatic,Missing,Missing,Missing,NaN
4,2020-09-01,TX,NA,0 - 17 years,Laboratory-confirmed case,Symptomatic,No,Missing,Missing,NaN

In [14]:
sex_df = df.copy()
sex_df = sex_df.drop(['age_group', 'race'], axis=1)
sex_df.head()

,case_month,res_state,res_county,sex,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
0,2022-06-01,CA,LOS ANGELES,Female,Laboratory-confirmed case,Unknown,No,Missing,Missing,Yes
1,2020-12-01,TX,NA,NA,Laboratory-confirmed case,Symptomatic,Yes,Missing,Yes,NaN
2,2021-12-01,CA,LOS ANGELES,Female,Laboratory-confirmed case,Unknown,No,Missing,Missing,NaN
3,2021-11-01,NE,NA,Female,Laboratory-confirmed case,Symptomatic,Missing,Missing,Missing,NaN
4,2020-09-01,TX,NA,Male,Laboratory-confirmed case,Symptomatic,No,Missing,Missing,NaN

In [15]:
race_df = df.copy()
race_df = race_df.drop(['age_group', 'sex'], axis=1)
race_df.head()

,case_month,res_state,res_county,race,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
0,2022-06-01,CA,LOS ANGELES,Asian,Laboratory-confirmed case,Unknown,No,Missing,Missing,Yes
1,2020-12-01,TX,NA,NA,Laboratory-confirmed case,Symptomatic,Yes,Missing,Yes,NaN
2,2021-12-01,CA,LOS ANGELES,Black,Laboratory-confirmed case,Unknown,No,Missing,Missing,NaN
3,2021-11-01,NE,NA,White,Laboratory-confirmed case,Symptomatic,Missing,Missing,Missing,NaN
4,2020-09-01,TX,NA,White,Laboratory-confirmed case,Symptomatic,No,Missing,Missing,NaN

In [16]:
age_df['age_group'].replace('Missing', pd.NA, inplace=True)
age_df.dropna(subset=['age_group'], inplace = True)
age_df = age_df[age_df['age_group'] != 'NA']
age_df.head(20)

,case_month,res_state,res_county,age_group,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
0,2022-06-01,CA,LOS ANGELES,18 to 49 years,Laboratory-confirmed case,Unknown,No,Missing,Missing,Yes
1,2020-12-01,TX,NA,65+ years,Laboratory-confirmed case,Symptomatic,Yes,Missing,Yes,NaN
2,2021-12-01,CA,LOS ANGELES,18 to 49 years,Laboratory-confirmed case,Unknown,No,Missing,Missing,NaN
3,2021-11-01,NE,NA,18 to 49 years,Laboratory-confirmed case,Symptomatic,Missing,Missing,Missing,NaN
4,2020-09-01,TX,NA,0 - 17 years,Laboratory-confirmed case,Symptomatic,No,Missing,Missing,NaN
5,2022-06-01,CA,LOS ANGELES,18 to 49 years,Laboratory-confirmed case,Symptomatic,No,Missing,Missing,NaN
6,2021-12-01,CA,LOS ANGELES,18 to 49 years,Laboratory-confirmed case,Symptomatic,No,Missing,Missing,NaN
7,2021-11-01,NE,NA,18 to 49 years,Laboratory-confirmed case,Symptomatic,Missing,Missing,Missing,NaN
8,2022-06-01,CA,LOS ANGELES,18 to 49 years,Laboratory-confirmed case,Unknown,No,Missing,Missing,NaN
9,2020-12-01,TX,NA,65+ years,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
10,2021-12-01,CA,LOS ANGELES,18 to 49 years,Laboratory-confirmed case,Symptomatic,No,Missing,Missing,NaN
11,2021-11-01,NE,NA,18 to 49 years,Laboratory-confirmed case,Symptomatic,Missing,Missing,Missing,NaN
12,2020-09-01,TX,NA,0 - 17 years,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
13,2022-06-01,CA,LOS ANGELES,18 to 49 years,Laboratory-confirmed case,Symptomatic,No,Missing,Missing,NaN
14,2021-12-01,CA,LOS ANGELES,18 to 49 years,Laboratory-confirmed case,Unknown,No,Missing,Missing,NaN
15,2021-11-01,NE,NA,18 to 49 years,Laboratory-confirmed case,Symptomatic,Missing,Missing,Missing,NaN
16,2020-12-01,TX,NA,65+ years,Laboratory-confirmed case,Symptomatic,Yes,Missing,No,NaN
17,2022-06-01,CA,LOS ANGELES,18 to 49 years,Laboratory-confirmed case,Symptomatic,No,Missing,Missing,NaN
18,2021-12-01,CA,LOS ANGELES,18 to 49 years,Laboratory-confirmed case,Unknown,No,Missing,Missing,NaN
19,2021-11-01,NE,NA,18 to 49 years,Probable Case,Symptomatic,Missing,Missing,Missing,NaN

In [17]:
print(f"Age Group column contains: {age_df['age_group'].unique()}")
print(f"Length of age_df: {len(age_df)}")

Age Group column contains: ['18 to 49 years' '65+ years' '0 - 17 years' '50 to 64 years']
Length of age_df: 9615921

In [18]:
sex_df['sex'].replace({'Unknown': pd.NA, 'Missing': pd.NA}, inplace=True)
sex_df = sex_df[sex_df['sex'] != 'NA']
sex_df.dropna(subset=['sex'], inplace = True)
sex_df.head(20)

,case_month,res_state,res_county,sex,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
0,2022-06-01,CA,LOS ANGELES,Female,Laboratory-confirmed case,Unknown,No,Missing,Missing,Yes
2,2021-12-01,CA,LOS ANGELES,Female,Laboratory-confirmed case,Unknown,No,Missing,Missing,NaN
3,2021-11-01,NE,NA,Female,Laboratory-confirmed case,Symptomatic,Missing,Missing,Missing,NaN
4,2020-09-01,TX,NA,Male,Laboratory-confirmed case,Symptomatic,No,Missing,Missing,NaN
5,2022-06-01,CA,LOS ANGELES,Female,Laboratory-confirmed case,Symptomatic,No,Missing,Missing,NaN
6,2021-12-01,CA,LOS ANGELES,Female,Laboratory-confirmed case,Symptomatic,No,Missing,Missing,NaN
7,2021-11-01,NE,NA,Female,Laboratory-confirmed case,Symptomatic,Missing,Missing,Missing,NaN
8,2022-06-01,CA,LOS ANGELES,Female,Laboratory-confirmed case,Unknown,No,Missing,Missing,NaN
10,2021-12-01,CA,LOS ANGELES,Female,Laboratory-confirmed case,Symptomatic,No,Missing,Missing,NaN
11,2021-11-01,NE,NA,Female,Laboratory-confirmed case,Symptomatic,Missing,Missing,Missing,NaN
12,2020-09-01,TX,NA,Male,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
13,2022-06-01,CA,LOS ANGELES,Female,Laboratory-confirmed case,Symptomatic,No,Missing,Missing,NaN
14,2021-12-01,CA,LOS ANGELES,Female,Laboratory-confirmed case,Unknown,No,Missing,Missing,NaN
15,2021-11-01,NE,NA,Female,Laboratory-confirmed case,Symptomatic,Missing,Missing,Missing,NaN
17,2022-06-01,CA,LOS ANGELES,Female,Laboratory-confirmed case,Symptomatic,No,Missing,Missing,NaN
18,2021-12-01,CA,LOS ANGELES,Female,Laboratory-confirmed case,Unknown,No,Missing,Missing,NaN
19,2021-11-01,NE,NA,Female,Probable Case,Symptomatic,Missing,Missing,Missing,NaN
20,2020-09-01,TX,NA,Male,Laboratory-confirmed case,Symptomatic,No,Missing,No,NaN
21,2022-06-01,CA,LOS ANGELES,Female,Laboratory-confirmed case,Symptomatic,No,Missing,Missing,NaN
22,2021-12-01,CA,LOS ANGELES,Female,Laboratory-confirmed case,Unknown,No,Missing,Missing,NaN

In [19]:
print(f"Sex column contains: {sex_df['sex'].unique()}")
print(f"Length of sex_df: {len(sex_df)}")

Sex column contains: ['Female' 'Male' 'Other']
Length of sex_df: 8969565

In [20]:
race_df['race'].replace({'Unknown': pd.NA, 'Missing': pd.NA}, inplace=True)
race_df = race_df[race_df['race'] != 'NA']
race_df.dropna(subset=['race'], inplace = True)
race_df.head(20)

,case_month,res_state,res_county,race,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
0,2022-06-01,CA,LOS ANGELES,Asian,Laboratory-confirmed case,Unknown,No,Missing,Missing,Yes
2,2021-12-01,CA,LOS ANGELES,Black,Laboratory-confirmed case,Unknown,No,Missing,Missing,NaN
3,2021-11-01,NE,NA,White,Laboratory-confirmed case,Symptomatic,Missing,Missing,Missing,NaN
4,2020-09-01,TX,NA,White,Laboratory-confirmed case,Symptomatic,No,Missing,Missing,NaN
5,2022-06-01,CA,LOS ANGELES,Asian,Laboratory-confirmed case,Symptomatic,No,Missing,Missing,NaN
6,2021-12-01,CA,LOS ANGELES,Black,Laboratory-confirmed case,Symptomatic,No,Missing,Missing,NaN
7,2021-11-01,NE,NA,White,Laboratory-confirmed case,Symptomatic,Missing,Missing,Missing,NaN
8,2022-06-01,CA,LOS ANGELES,Asian,Laboratory-confirmed case,Unknown,No,Missing,Missing,NaN
10,2021-12-01,CA,LOS ANGELES,Black,Laboratory-confirmed case,Symptomatic,No,Missing,Missing,NaN
11,2021-11-01,NE,NA,White,Laboratory-confirmed case,Symptomatic,Missing,Missing,Missing,NaN
12,2020-09-01,TX,NA,White,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
13,2022-06-01,CA,LOS ANGELES,Asian,Laboratory-confirmed case,Symptomatic,No,Missing,Missing,NaN
14,2021-12-01,CA,LOS ANGELES,Black,Laboratory-confirmed case,Unknown,No,Missing,Missing,NaN
15,2021-11-01,NE,NA,White,Laboratory-confirmed case,Symptomatic,Missing,Missing,Missing,NaN
17,2022-06-01,CA,LOS ANGELES,Asian,Laboratory-confirmed case,Symptomatic,No,Missing,Missing,NaN
18,2021-12-01,CA,LOS ANGELES,Black,Laboratory-confirmed case,Unknown,No,Missing,Missing,NaN
19,2021-11-01,NE,NA,White,Probable Case,Symptomatic,Missing,Missing,Missing,NaN
20,2020-09-01,TX,NA,White,Laboratory-confirmed case,Symptomatic,No,Missing,No,NaN
21,2022-06-01,CA,LOS ANGELES,Asian,Laboratory-confirmed case,Symptomatic,No,Missing,Missing,NaN
22,2021-12-01,CA,LOS ANGELES,Black,Laboratory-confirmed case,Unknown,No,Missing,Missing,NaN

In [21]:
print(f"Race column contains: {race_df['race'].unique()}")
print(f"Length of race_df: {len(race_df)}")

Race column contains: ['Asian' 'Black' 'White' 'American Indian/Alaska Native'
 'Native Hawaiian/Other Pacific Islander' 'Multiple/Other']
Length of race_df: 6065484

In [22]:
age_df.to_csv('resources/demographic_analysis/age.csv', index = False)

KeyboardInterrupt:

In [ ]:
sex_df.to_csv('resources/demographic_analysis/sex.csv', index = False)

In [ ]:
race_df.to_csv('resources/demographic_analysis/race.csv', index = False)

In [23]:
count = (age_df[(age_df['age_group'] == '18 to 49 years') & (age_df['death_yn'] == 'Yes')])
count.head()

,case_month,res_state,res_county,age_group,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
375563,2022-01-01,CA,LOS ANGELES,18 to 49 years,Laboratory-confirmed case,Unknown,Yes,Unknown,Yes,NaN
376654,2022-01-01,CA,LOS ANGELES,18 to 49 years,Laboratory-confirmed case,Unknown,No,Missing,Yes,NaN
376666,2022-01-01,CA,LOS ANGELES,18 to 49 years,Laboratory-confirmed case,Unknown,Yes,Yes,Yes,NaN
378430,2022-01-01,CA,LOS ANGELES,18 to 49 years,Laboratory-confirmed case,Unknown,Yes,Unknown,Yes,NaN
378570,2022-01-01,CA,LOS ANGELES,18 to 49 years,Laboratory-confirmed case,Symptomatic,Yes,Unknown,Yes,NaN

In [24]:
len(count)

889

In [25]:
len(age_df)

9615921

In [26]:
age_df_subset = age_df.head(1000000)
sex_df_subset = sex_df.head(1000000)
race_df_subset = race_df.head(1000000)

age_df_subset.to_csv('resources/demographic_analysis/sample_age.csv', index = False)
sex_df_subset.to_csv('resources/demographic_analysis/sample_sex.csv', index = False)
race_df_subset.to_csv('resources/demographic_analysis/sample_race.csv', index = False)

KeyboardInterrupt:

# All three datasets for Tableau

In [27]:
tableau_df = df.copy()
tableau_df['age_group'].replace({'Unknown': pd.NA, 'Missing': pd.NA}, inplace=True)
tableau_df['sex'].replace({'Unknown': pd.NA, 'Missing': pd.NA}, inplace=True)
tableau_df['race'].replace({'Unknown': pd.NA, 'Missing': pd.NA}, inplace=True)
tableau_df.head()

,case_month,res_state,res_county,age_group,sex,race,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
0,2022-06-01,CA,LOS ANGELES,18 to 49 years,Female,Asian,Laboratory-confirmed case,Unknown,No,Missing,Missing,Yes
1,2020-12-01,TX,NA,65+ years,NA,NA,Laboratory-confirmed case,Symptomatic,Yes,Missing,Yes,NaN
2,2021-12-01,CA,LOS ANGELES,18 to 49 years,Female,Black,Laboratory-confirmed case,Unknown,No,Missing,Missing,NaN
3,2021-11-01,NE,NA,18 to 49 years,Female,White,Laboratory-confirmed case,Symptomatic,Missing,Missing,Missing,NaN
4,2020-09-01,TX,NA,0 - 17 years,Male,White,Laboratory-confirmed case,Symptomatic,No,Missing,Missing,NaN

In [28]:
tableau_df.dropna(subset=['age_group', 'sex', 'race'], inplace = True)

display(tableau_df.head(10))
print(len(tableau_df))

,case_month,res_state,res_county,age_group,sex,race,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
0,2022-06-01,CA,LOS ANGELES,18 to 49 years,Female,Asian,Laboratory-confirmed case,Unknown,No,Missing,Missing,Yes
1,2020-12-01,TX,NA,65+ years,NA,NA,Laboratory-confirmed case,Symptomatic,Yes,Missing,Yes,NaN
2,2021-12-01,CA,LOS ANGELES,18 to 49 years,Female,Black,Laboratory-confirmed case,Unknown,No,Missing,Missing,NaN
3,2021-11-01,NE,NA,18 to 49 years,Female,White,Laboratory-confirmed case,Symptomatic,Missing,Missing,Missing,NaN
4,2020-09-01,TX,NA,0 - 17 years,Male,White,Laboratory-confirmed case,Symptomatic,No,Missing,Missing,NaN
5,2022-06-01,CA,LOS ANGELES,18 to 49 years,Female,Asian,Laboratory-confirmed case,Symptomatic,No,Missing,Missing,NaN
6,2021-12-01,CA,LOS ANGELES,18 to 49 years,Female,Black,Laboratory-confirmed case,Symptomatic,No,Missing,Missing,NaN
7,2021-11-01,NE,NA,18 to 49 years,Female,White,Laboratory-confirmed case,Symptomatic,Missing,Missing,Missing,NaN
8,2022-06-01,CA,LOS ANGELES,18 to 49 years,Female,Asian,Laboratory-confirmed case,Unknown,No,Missing,Missing,NaN
9,2020-12-01,TX,NA,65+ years,NA,NA,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN

7763759

In [ ]:
import numpy as np

tableau_df[['age_group', 'sex', 'race']] = tableau_df[['age_group', 'sex', 'race']].replace('NA', np.nan)

In [ ]:
tableau_df.dropna(subset=['age_group', 'sex', 'race'], inplace = True)

In [ ]:
tableau_columns = ['age_group', 'sex', 'race']
for col in tableau_columns: 
    print(col, tableau_df[col].unique())

age_group ['50 to 64 years' '18 to 49 years' '65+ years' '0 - 17 years']
sex ['Female' 'Male' 'Other']
race ['White' 'Black' 'Asian' 'Multiple/Other' 'American Indian/Alaska Native'
 'Native Hawaiian/Other Pacific Islander']

In [ ]:
display(tableau_df.head(10))
print(len(tableau_df))

,case_month,res_state,res_county,age_group,sex,race,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
0,2022-11-01,HI,HONOLULU,50 to 64 years,Female,White,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
2,2021-08-01,ID,ADA,18 to 49 years,Male,White,Laboratory-confirmed case,Unknown,No,Missing,No,NaN
6,2021-01-01,SC,SPARTANBURG,18 to 49 years,Female,Black,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
7,2022-05-01,MD,ANNE ARUNDEL,18 to 49 years,Male,White,Probable Case,Symptomatic,Missing,Missing,No,NaN
8,2022-03-01,FL,MIAMI-DADE,50 to 64 years,Male,White,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
10,2022-05-01,NJ,UNION,50 to 64 years,Male,Asian,Laboratory-confirmed case,Symptomatic,Yes,Missing,No,NaN
11,2023-02-01,MI,INGHAM,18 to 49 years,Female,Black,Laboratory-confirmed case,Missing,Missing,Missing,Unknown,NaN
12,2022-07-01,FL,ST. LUCIE,18 to 49 years,Female,White,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
13,2022-01-01,MN,DAKOTA,50 to 64 years,Female,White,Laboratory-confirmed case,Symptomatic,Missing,Missing,No,Yes
14,2021-10-01,MI,KALAMAZOO,18 to 49 years,Male,White,Probable Case,Missing,Missing,Missing,Unknown,NaN

6389751

In [ ]:
tableau_df.to_csv('resources/demographic_analysis/tableau.csv', index = False)

# Cleaned DataFrame for Machine Learning

In [10]:
clean_df = df.copy()
clean_df = clean_df.drop(['case_month', 'res_state', 'res_county', 'hosp_yn'], axis=1)
clean_df.head(10)

,age_group,sex,race,current_status,symptom_status,icu_yn,death_yn,underlying_conditions_yn
0,0 - 17 years,Male,NA,Laboratory-confirmed case,Symptomatic,Missing,Missing,NaN
1,18 to 49 years,Female,Missing,Laboratory-confirmed case,Missing,Missing,Missing,NaN
2,0 - 17 years,Male,White,Laboratory-confirmed case,Missing,Missing,Missing,NaN
3,18 to 49 years,Female,White,Laboratory-confirmed case,Symptomatic,Missing,Missing,NaN
4,50 to 64 years,Female,White,Laboratory-confirmed case,Missing,Missing,Missing,NaN
5,50 to 64 years,Female,White,Laboratory-confirmed case,Symptomatic,Missing,Unknown,NaN
6,0 - 17 years,Female,White,Laboratory-confirmed case,Symptomatic,Missing,Missing,NaN
7,0 - 17 years,Male,Black,Probable Case,Unknown,Unknown,Missing,NaN
8,18 to 49 years,Male,White,Laboratory-confirmed case,Symptomatic,Missing,No,NaN
9,65+ years,Male,White,Laboratory-confirmed case,Unknown,Unknown,Missing,NaN

In [11]:
for col in clean_df.columns: 
    print(col, df[col].unique())

age_group ['0 - 17 years' '18 to 49 years' '50 to 64 years' '65+ years' 'Missing'
 'NA']
sex ['Male' 'Female' 'Unknown' 'NA' 'Missing' 'Other']
race ['NA' 'Missing' 'White' 'Black' 'Asian' 'Unknown' 'Multiple/Other'
 'American Indian/Alaska Native' 'Native Hawaiian/Other Pacific Islander']
current_status ['Laboratory-confirmed case' 'Probable Case']
symptom_status ['Symptomatic' 'Missing' 'Unknown' 'Asymptomatic']
icu_yn ['Missing' 'Unknown' 'No' 'Yes']
death_yn ['Missing' 'Unknown' 'No' 'Yes' 'NA']
underlying_conditions_yn [nan 'Yes' 'No']

In [12]:
clean_df['age_group'].replace({'Unknown': pd.NA, 'Missing': pd.NA}, inplace=True)
clean_df['sex'].replace({'Unknown': pd.NA, 'Missing': pd.NA}, inplace=True)
clean_df['race'].replace({'Unknown': pd.NA, 'Missing': pd.NA}, inplace=True)
clean_df['symptom_status'].replace({'Unknown': pd.NA, 'Missing': pd.NA}, inplace=True)
clean_df['icu_yn'].replace({'Unknown': pd.NA, 'Missing': pd.NA}, inplace=True)
clean_df['death_yn'].replace({'Unknown': pd.NA, 'Missing': pd.NA}, inplace=True)

clean_df = clean_df[clean_df[['age_group', 'sex', 'race', 'symptom_status', 'icu_yn', 'death_yn']] != 'NA']
clean_df.dropna(subset=['age_group', 'sex', 'race', 'symptom_status', 'icu_yn', 'death_yn'], inplace = True)
clean_df.head()

,age_group,sex,race,current_status,symptom_status,icu_yn,death_yn,underlying_conditions_yn
17,18 to 49 years,Male,White,NaN,Symptomatic,No,No,NaN
115,18 to 49 years,Male,White,NaN,Symptomatic,No,No,NaN
120,50 to 64 years,Female,Black,NaN,Symptomatic,No,No,NaN
123,18 to 49 years,Male,Asian,NaN,Symptomatic,No,No,NaN
261,50 to 64 years,Male,Black,NaN,Symptomatic,No,No,NaN

In [13]:
for col in clean_df.columns: 
    print(col, clean_df[col].unique())

age_group ['18 to 49 years' '50 to 64 years' '65+ years' '0 - 17 years']
sex ['Male' 'Female']
race ['White' 'Black' 'Asian' 'Multiple/Other' 'American Indian/Alaska Native'
 'Native Hawaiian/Other Pacific Islander']
current_status [nan]
symptom_status ['Symptomatic' 'Asymptomatic']
icu_yn ['No' 'Yes']
death_yn ['No' 'Yes']
underlying_conditions_yn [nan]

In [14]:
new_clean_df = clean_df.drop(['current_status', 'underlying_conditions_yn'], axis=1)
new_clean_df['death_yn'] = new_clean_df['death_yn'].replace({'Yes': 1, 'No': 0})
new_clean_df.head()

          age_group     sex   race symptom_status icu_yn  death_yn
17   18 to 49 years    Male  White    Symptomatic     No         0
115  18 to 49 years    Male  White    Symptomatic     No         0
120  50 to 64 years  Female  Black    Symptomatic     No         0
123  18 to 49 years    Male  Asian    Symptomatic     No         0
261  50 to 64 years    Male  Black    Symptomatic     No         0

In [15]:
new_clean_df.dtypes

age_group         object
sex               object
race              object
symptom_status    object
icu_yn            object
death_yn           int64
dtype: object

In [16]:
encoded_df = pd.get_dummies(new_clean_df, columns = ['age_group', 'sex', 'race', 'symptom_status', 'icu_yn'])
encoded_df.head(25)

,death_yn,age_group_0 - 17 years,age_group_18 to 49 years,age_group_50 to 64 years,age_group_65+ years,sex_Female,sex_Male,race_American Indian/Alaska Native,race_Asian,race_Black,race_Multiple/Other,race_Native Hawaiian/Other Pacific Islander,race_White,symptom_status_Asymptomatic,symptom_status_Symptomatic,icu_yn_No,icu_yn_Yes
17,0,0,1,0,0,0,1,0,0,0,0,0,1,0,1,1,0
115,0,0,1,0,0,0,1,0,0,0,0,0,1,0,1,1,0
120,0,0,0,1,0,1,0,0,0,1,0,0,0,0,1,1,0
123,0,0,1,0,0,0,1,0,1,0,0,0,0,0,1,1,0
261,0,0,0,1,0,0,1,0,0,1,0,0,0,0,1,1,0
268,0,0,1,0,0,0,1,0,1,0,0,0,0,0,1,1,0
419,0,0,1,0,0,0,1,0,1,0,0,0,0,0,1,1,0
462,0,0,1,0,0,0,1,0,0,0,0,0,1,0,1,1,0
556,0,0,0,1,0,1,0,0,0,1,0,0,0,0,1,0,1
558,0,0,1,0,0,0,1,0,1,0,0,0,0,0,1,1,0
597,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,1,0
606,0,0,1,0,0,0,1,0,0,0,0,0,1,0,1,1,0
623,0,0,1,0,0,0,1,0,0,0,0,0,1,0,1,1,0
661,0,0,0,0,1,0,1,0,0,0,0,0,1,0,1,0,1
709,0,0,1,0,0,0,1,0,1,0,0,0,0,0,1,1,0
753,0,0,1,0,0,0,1,0,0,0,0,0,1,0,1,1,0
813,0,0,0,0,1,0,1,0,0,0,0,0,1,0,1,1,0
861,0,0,1,0,0,0,1,0,1,0,0,0,0,0,1,1,0
884,0,0,0,0,1,1,0,0,0,0,0,0,1,0,1,1,0
958,0,0,0,1,0,0,1,0,0,0,0,0,1,0,1,1,0
997,1,0,0,1,0,1,0,0,0,0,0,0,1,0,1,0,1
1010,0,0,1,0,0,0,1,0,1,0,0,0,0,0,1,1,0
1049,0,0,1,0,0,0,1,0,0,0,0,0,1,0,1,1,0
1177,0,0,0,0,1,1,0,0,0,0,0,0,1,0,1,1,0
1196,0,0,1,0,0,0,1,0,0,0,0,0,1,0,1,1,0

In [17]:
encoded_df['death_yn'].unique()

array([0, 1], dtype=int64)

In [18]:
# Set up for machine learning mortality model
y = encoded_df['death_yn']
X = encoded_df.drop(columns= 'death_yn')

# Logistic Regression Attempt

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,
   y, random_state=1, stratify=y)

In [26]:
# Initiate similar to Module #18

from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
   max_iter=10000,
   random_state=1)

In [27]:
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=10000, random_state=1)

In [28]:
y_pred = classifier.predict(X_test)

In [29]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

print(f"Accuracy Score: {accuracy_score(y_test, y_pred)}")
print("\nClassification Report: \n")
report = classification_report(y_test, y_pred)
print(report)

Accuracy Score: 0.9721916023649664

Classification Report:

              precision    recall  f1-score   support

           0       0.98      0.99      0.99     38402
           1       0.70      0.46      0.56      1514

    accuracy                           0.97     39916
   macro avg       0.84      0.73      0.77     39916
weighted avg       0.97      0.97      0.97     39916

In [30]:
cm_log = confusion_matrix(y_test, y_pred)
cm_log_df = pd.DataFrame(
    cm_log, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_log_df

          Predicted 0  Predicted 1
Actual 0        38110          292
Actual 1          818          696

# SVC

In [31]:
X_train_SVC, X_test_SVC, y_train_SVC, y_test_SVC = train_test_split(X,
   y,  random_state=1, stratify=y)
X_train_SVC.shape

(119746, 16)

In [32]:
from sklearn.svm import SVC
model = SVC(kernel='linear')

In [33]:
model.fit(X_train_SVC, y_train_SVC)

SVC(kernel='linear')

In [34]:
y_pred_SVC = model.predict(X_test_SVC)

In [35]:
cm_SVC = confusion_matrix(y_test_SVC, y_pred_SVC)
cm_SVC_df = pd.DataFrame(
    cm_SVC, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_SVC_df

          Predicted 0  Predicted 1
Actual 0        38105          297
Actual 1          818          696

In [36]:
print(f"Accuracy Score: {accuracy_score(y_test_SVC, y_pred_SVC)}")
print(classification_report(y_test_SVC, y_pred_SVC))

Accuracy Score: 0.9720663393125564
              precision    recall  f1-score   support

           0       0.98      0.99      0.99     38402
           1       0.70      0.46      0.56      1514

    accuracy                           0.97     39916
   macro avg       0.84      0.73      0.77     39916
weighted avg       0.97      0.97      0.97     39916

# Random Forest

In [37]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler

In [38]:
X_train_RF, X_test_RF, y_train_RF, y_test_RF = train_test_split(X, y, random_state=1)

In [39]:
scaler = StandardScaler()
X_scaler = scaler.fit(X_train_RF)

X_train_scaled_RF = X_scaler.transform(X_train_RF)
X_test_scaled_RF = X_scaler.transform(X_test_RF)

In [40]:
rf_model = RandomForestClassifier(n_estimators=128, random_state=1) 
rf_model = rf_model.fit(X_train_scaled_RF, y_train_RF)

In [41]:
predictions_RF = rf_model.predict(X_test_scaled_RF)
cm = confusion_matrix(y_test_RF, predictions_RF)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

In [42]:
acc_score_RF = accuracy_score(y_test_RF, predictions_RF)

In [43]:
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score_RF}")
print("Classification Report")
print(classification_report(y_test_RF, predictions_RF))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0        38087          356
Actual 1          716          757

Accuracy Score : 0.973143601563283
Classification Report
              precision    recall  f1-score   support

           0       0.98      0.99      0.99     38443
           1       0.68      0.51      0.59      1473

    accuracy                           0.97     39916
   macro avg       0.83      0.75      0.79     39916
weighted avg       0.97      0.97      0.97     39916

# Random Oversampler

In [44]:
from collections import Counter
X_train_ROS, X_test_ROS, y_train_ROS, y_test_ROS = train_test_split(X, y, random_state=1)
Counter(y_train)

Counter({0: 115204, 1: 4542})

In [45]:
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=1)

X_resampled_ROS, y_resampled_ROS = ros.fit_resample(X_train_ROS, y_train_ROS)

In [46]:
model_ROS = LogisticRegression(solver='lbfgs', max_iter=500, random_state=1)
model_ROS.fit(X_resampled_ROS, y_resampled_ROS)

LogisticRegression(max_iter=500, random_state=1)

In [47]:
y_pred_ROS = model.predict(X_test_ROS)

cm_ROS = confusion_matrix(y_test_ROS, y_pred_ROS)
cm_df_ROS = pd.DataFrame(
    cm_ROS, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

In [48]:
from imblearn.metrics import classification_report_imbalanced
from sklearn.metrics import balanced_accuracy_score

acc_score_ROS= balanced_accuracy_score(y_test_RF, y_pred_ROS)

print("Confusion Matrix")
display(cm_df_ROS)
print(f"Accuracy Score : {acc_score_ROS}")
print("Classification Report")
print(classification_report_imbalanced(y_test_RF, y_pred_ROS))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0        38170          273
Actual 1          792          681

Accuracy Score : 0.7276101846874308
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       0.98      0.99      0.46      0.99      0.68      0.48     38443
          1       0.71      0.46      0.99      0.56      0.68      0.43      1473

avg / total       0.97      0.97      0.48      0.97      0.68      0.48     39916

# SMOTEENN

In [51]:
X_train_SMOTEENN, X_test_SMOTEENN, y_train_SMOTEENN, y_test_SMOTEENN = train_test_split(X, y, random_state=1)

In [62]:
from imblearn.combine import SMOTEENN
from imblearn.over_sampling import SMOTE

smote_enn = SMOTEENN(random_state=1)
X_resampled_SMOTEENN, y_resampled_SMOTEENN = smote_enn.fit_resample(X, y)

In [69]:
model_SMOTEENN = LogisticRegression(solver='lbfgs', random_state=1, max_iter=2000)
model_SMOTEENN.fit(X_resampled_SMOTEENN, y_resampled_SMOTEENN)

LogisticRegression(max_iter=2000, random_state=1)

In [70]:
y_pred_SMOTEENN = model_SMOTEENN.predict(X_test)
cm_SMOTEENN = confusion_matrix(y_test_ROS, y_pred_ROS)
cm_df_SMOTEENN = pd.DataFrame(
    cm_SMOTEENN, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

In [71]:
acc_score_SMOTEENN = balanced_accuracy_score(y_test_SMOTEENN, y_pred_SMOTEENN)

print("Confusion Matrix")
display(cm_df_SMOTEENN)
print(f"Accuracy Score : {acc_score_SMOTEENN}")
print("Classification Report")
print(classification_report_imbalanced(y_test_SMOTEENN, y_pred_SMOTEENN))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0        38170          273
Actual 1          792          681

Accuracy Score : 0.5004866181208779
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       0.96      0.96      0.04      0.96      0.19      0.04     38443
          1       0.04      0.04      0.96      0.04      0.19      0.03      1473

avg / total       0.93      0.93      0.07      0.93      0.19      0.04     39916

# Random UnderSampling

In [19]:
from sklearn.model_selection import train_test_split
X_train_RU, X_test_RU, y_train_RU, y_test_RU = train_test_split(X, y, random_state=1)

In [21]:
from imblearn.under_sampling import RandomUnderSampler
ros = RandomUnderSampler(random_state=1)
X_resampled_RU, y_resampled_RU = ros.fit_resample(X_train_RU, y_train_RU)

In [22]:
from sklearn.linear_model import LogisticRegression
model_RU = LogisticRegression(solver='lbfgs', random_state=1)
model_RU.fit(X_resampled_RU, y_resampled_RU)

LogisticRegression(random_state=1)

In [49]:
y_pred_RU = model_RU.predict(X_test_RU)
cm_RU = confusion_matrix(y_test_RU, y_pred_RU)
cm_df_RU = pd.DataFrame(
    cm_RU, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

In [50]:
acc_score_RU = balanced_accuracy_score(y_test_RU, y_pred_RU)

print("Confusion Matrix")
display(cm_df_RU)
print(f"Accuracy Score : {acc_score_RU}")
print("Classification Report")
print(classification_report_imbalanced(y_test_RU, y_pred_RU))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0        32067         6376
Actual 1           45         1428

Accuracy Score : 0.9017970796343389
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.83      0.97      0.91      0.90      0.80     38443
          1       0.18      0.97      0.83      0.31      0.90      0.82      1473

avg / total       0.97      0.84      0.96      0.89      0.90      0.80     39916